//colores de botones
$negro: #000;
$blanco: #fff;
$grisClaro: #ccc;
$grisMedio: #808080;
$grisOscuro: #2f2f2f;
$rojo: #ed0b0b;
$naranja: #f46702;
$amarillo: #f4e902;
$verdeClaro: #bdf738;
$verdeOscuro: #096f03;
$celeste: #2fe3d2;
$azul: #2735b6;
$violeta: #a127b6;
$rosa: #fc57a5;
$marron: #8b4d00;

//colores de fondo
$azulClaro: rgb(98, 141, 221);
$azulOscuro: rgb(71, 123, 219);